* {
  padding: 0;
  box-sizing: border-box;
}

nav {
  font-family: josefin sans, sans-serif;
}

.navBar {
  display: flex;
  justify-content: space-around;
  position: relative;
  bottom: 75px;
  width: 700px;
  text-align: right;
  margin-left: 730px;
}

.navBar li {
  text-decoration: none;
  list-style-type: none;
  font-family: josefin sans, sans-serif;
  color: #091a23;
  font-weight: 600;
  padding: 20px 10px;
  font-size: 17px;
  cursor: pointer;
}
.navBar li:hover {
  color: orange;
  transition: 0.5s ease;
}
.navBar :nth-child(6) {
  border: orange 1px solid;
  border-radius: 5px;
}
.navBar :nth-child(6):hover {
  color: white;
  background-color: #ff5600;
  transition: linear 0.2s;
}

.logo {
  display: inline;
  margin-left: 0px;
  cursor: pointer;
}
.homePage {
  background-image: url(images/h1_hero.webp);
  background-size: cover;
  height: 800px;
  background-repeat: no-repeat;
}

.topic {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  color: #ff5600;
  padding-left: 24px;
}
.believe {
  font-size: 87px;
  line-break: auto;
  word-break: break-all;
  margin: 0;
  font-family: josefin sans, sans-serif;
  font-weight: 700;
  margin: 20px;
}

.para {
  font-weight: 400;
  font-size: 20px;
  padding-left: 24px;
}

.sticky {
  position: fixed;
  top: 0;
  transition: linear 0.5s;
  background-color: white;
  color: black;
  border: solid rgb(245, 219, 219) 1px;
  padding-bottom: 3px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  width: 100%;
  height: 70px;
}

.btn {
  margin-left: 24px;
  font-size: 20px;
  width: 170px;
  height: 50px;
  padding-top: 10px;
  font-family: josefin sans, sans-serif;
  font-weight: 400;
  color: white;

  background: #ff5600;
  padding: 5px;
  border-radius: 5px;
  border: none;
}

.btn:hover {
  color: rgba(255, 81, 0, 0.877);
  transition: 0.5s ease;
  background-color: rgb(0, 0, 0);
  font-size: 26px;
}

.icons {
  width: 60px;
}
.icons1 {
  display: flex;
  padding: 10px;
}
.icons2 {
  display: flex;
}
.section1 {
  display: flex;
  justify-content: space-around;
}
.section2 {
  display: flex;
  justify-content: space-around;
}
.secondPage {
  display: flex;
  justify-content: space-evenly;
  margin-top: 170px;
}
.section1,
.section2 p {
  font-size: 20px;
  padding: 10px;
}

.menu {
  display: flex;
  flex-direction: column;
  margin-top: 200px;
  background-image: url(images/section_bg01.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.menuNavbar {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  font-size: 25px;
  margin-top: 110px;
  font-family: josefin sans, sans-serif;
}

.menuNavbar :nth-child(1) {
  border: 1px solid #ff5600;
  padding: 13px;
  background-color: #ff5600;
  color: white;
}
